body
       {background: #4887b0}
.button
       {background-color: #252cbb;
	   border: none;
	   color: white;
	   padding: 8px 8px;
	   text-align: center;
	   text-decoration: none;
	   display: inline-block;
	   font-size: 22px;
	   margin: none;
	   cursor: pointer}
.button-2
       {background-color: #8ccc41;
	   border: none;
	   color: white;
	   padding: 7px 7px;
	   text-align: center;
	   text-decoration: none;
	   display: inline-block;
	   font-size: 18px;
	   margin: none;
	   cursor: pointer}